

#board-styles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
  margin: auto;
}

#square-styles {
  display: flex;
  align-items:center;
  justify-content: center;
  border: 2px dashed black;
  height: 95px;
  width: 95px;

  
}
